html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
    background-color: #7db4ae;
    font-family: Arial;
}
.centered {
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
  }
.centered {
    position: absolute;
    top: 28%;
    left: 48%;
    transform: translate(-40%, -60%);
  } 
.wrapper{
    max-width: 800px;
    margin: 0px auto 0px auto;
    background-color: #aad4cf;
}
nav li{
    display: inline-block;
    width: 145px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
nav li{
    color: rgb(0, 0, 0);
}

form {
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #aad4cf;
  }
  h2 {
      font-size: 1.5rem;
  }
  h4{
      font-size: 1.3rem;
  }
textarea {
    resize: none;
  }
img{
    width: 250px;
    margin: 5px;
    float: left;
}
p{
    font-size: 13.5px;
}
li{
    font-size: 13.5px;
}